/*#CABDA0*/

* {
    box-sizing: border-box;
    margin: 0;
}


html,
body {
    font-family: 'Inter', 'sans-serif';
    font-style: italic;
    padding: 0;
    overflow-x: hidden;
    background: none;


    /*    background-size: 100% 100%;*/
}

/*CONTENTS
- dive  17-44
- intro 55-122
- header 146-206
*/


body {
    background: #000;
}

.arrow,
.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 60px;
    height: 60px;
    top: 50%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}

.arrow:before {
    content: '';
    width: 40px;
    height: 40px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-20px, -20px);
    }
}


/*intro page lines 55-122*/


intro-content {
    /*parentA*/
    display: block;
    /*    background-color: lightgray;*/
    background-color: #0D0C07;
    height:400vw;
    /*    width: 100vw;*/
    /*    top: -10px;*/
}

intro-presentation {
    /*childA1*/
    display: block;
    /*
    background-color: darkgray;
    background-color: #0D0C07;
*/
    width: 100vw;
    height: 255vh;
    top: -5.5vh;
    position: relative;
}

intro-breath {
    display: block;
    justify-content: center;
    background-color: #0D0C07;
    position: relative;
    top: 5vh;
    padding: 6vh;

}

text-box {
    color: white;
    z-index: 1;
}

.paragraph {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.5em;
}

breath-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    grid-row-gap: 4.479vw;
    display: flex;

    width: 100vw;
    position: relative;
    top: 4vh;
    /*        background-color: mediumvioletred;*/
    /*    padding: 20px;*/
    /*    position: absolute;*/
}

breath-content text-box {
    /*    margin-right: 5%;*/
    position: relative;
    top: -20%;
    width: 40vw;
    opacity: 0;
    /*    transform: translateY(50px);*/
}

#sketch-breath {
    /*sketch*/
    position: absolute;
    left: 60%;
    /*    background-color: aquamarine;*/
    z-index: 1;
}

#breath-title {
    font-weight: bold;
    font-size: 2.5em;
    position: relative;
    left: 4%;
    /*    transform: translateX(-50px);*/
    opacity: 0;
    /*    background-color: red;*/
}

intro-breath.active #breath-title {
    animation: fade-out 0.9s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    position: relative;
    animation-timing-function: ease-in;

}

intro-breath.active breath-content text-box {
    animation: fade-out .9s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
    animation-timing-function: ease-out;
}

/*fade animation*/
@keyframes fade-out {
    0% {
        opacity: 0;
        filter: blur(0);
        transform: scale(0.98);

    }

    100% {
        opacity: 1;
        filter: blur(10);
        transform: scale(1);

    }
}

/* slide-in animation */
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    50% {
        opacity: 0.5;
        transform: translateX(-25px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


intro-listen {
    display: block;
    justify-content: center;
    /*    background-color: darkgreen;*/
    position: relative;
    top: 5vh;
    transform: none;
}

intro-listen.active2 #listen-title {
    animation: fade-out 0.9s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    width: min-content;
    height: min-content;
    position: relative;
    animation-timing-function: ease-in;
}


#listen-title {
    font-weight: bold;
    font-size: 2.5em;
    position: relative;
    left: 37%;
    opacity: 0;
    width: min-content;
    height: min-content;
}

listen-content {
    display: flex;
    align-items: center;
    padding: 20px;
    /*    position: absolute;*/
    /*    background-color: darkgoldenrod;*/
    position: relative;
    top: 1vh;
}

intro-listen.active2 listen-content text-box {
    animation: fade-out .9s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
    animation-timing-function: ease-out;
}

listen-content text-box {
    margin-left: 17%;
    position: relative;
    top: -10%;
    width: 36vw;
    opacity: 0;
    ;
}

#sketch-listen {
    /*sketch*/
    position: relative;
    left: 5%;
    /*    background-color: aquamarine;*/
    z-index: 1;
}

intro-heal {
    display: flex;
    justify-content: center;
    /*        background-color: darkgreen;*/
    position: relative;
    top: 5vh;
    padding: 6vh;
    height: 100vh;
    /*    background-color: royalblue;*/
}

intro-heal.active2 #heal-title {
    animation: fade-out 0.9s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    position: relative;
    animation-timing-function: ease-in;
}

#heal-title {
    font-weight: bold;
    font-size: 2.5em;
    position: relative;
    left: 75%;
    opacity: 0;
}

.staircase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*    background-color: beige;*/
    align-items: center;
    width: 57vw;
    top: 20%;
    margin-right: 27%;
    opacity: 0;

}

.staircase.active {
    animation: fade-in 1500ms ease-out forwards;
}


.Top1 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*        background-color: skyblue;*/
    /*    55.990vw*/
    width: 55.990vw;
    height: 42px;
    justify-content: center;
    /*    animation-delay: 0ms;*/

}

.staircase.active .Top1 sum-text {
    animation: up 500ms ease-out forwards;
    /*    animation-delay: 100ms;*/
    /*    overflow-y: hidden;*/
}


.Top1-rect {
    position: relative;
    width: 56vw;
    /*    height: 55px;*/
    top: 0.625vw;
    background: #65A4CB;
    filter: blur(2.5px);
    border-radius: 5px;
}

.Top2 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*        background-color: skyblue;*/
    width: 53.385vw;
    height: 42px;
    height: 42px;
    justify-content: center;
    margin-top: 30px;

}

.staircase.active .Top2 sum-text {
    animation: up 500ms ease-out forwards;
    animation-delay: 100ms;
    /*    overflow-y: hidden;*/
}

.Top2-rect {
    position: relative;
    width: 54vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.9);
    filter: blur(2px);
}

.Top3 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*        background-color: skyblue;*/
    width: 50.781vw;
    height: 42px;
    justify-content: center;
    margin-top: 30px;
}

.Top3-rect {
    position: relative;
    width: 51vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.81);
    filter: blur(3px);
}

.staircase.active .Top3 sum-text {
    animation: up 500ms ease-out forwards;
    animation-delay: 200ms;
}

.Top4 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*        background-color: skyblue;*/
    width: 48.177vw;
    height: 42px;
    justify-content: center;
    margin-top: 30px;

}

.Top4-rect {
    position: relative;
    width: 48vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.7);
    filter: blur(4px);
}

.staircase.active .Top4 sum-text {
    animation: up 500ms ease-out forwards;

    animation-delay: 300ms;
}

.Top5 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*        background-color: skyblue;*/
    width: 45.573vw;
    height: 42px;
    justify-content: center;
    margin-top: 30px;
}

.Top5-rect {
    position: relative;
    width: 46vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.6);
    filter: blur(5px);
}

.staircase.active .Top5 sum-text {
    animation: up 500ms ease-out forwards;

    animation-delay: 400ms;
}

.Top6-rect {
    position: relative;
    width: 43vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.5);
    filter: blur(6.5px);
}

.Top6 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*        background-color: skyblue;*/
    width: 42.969vw;
    height: 42px;
    justify-content: center;
    margin-top: 30px;

}

.staircase.active .Top6 sum-text {
    animation: up 500ms ease-out forwards;

    animation-delay: 500ms;
}

.Top7 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*        background-color: skyblue;*/
    width: 40.365vw;
    height: 42px;
    justify-content: center;
    margin-top: 30px;
}

.Top7-rect {
    position: relative;
    width: 40vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.4);
    filter: blur(7.5px);
}

.staircase.active .Top7 sum-text {
    animation: up 500ms ease-out forwards;

    animation-delay: 600ms;
}

.Top8 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*    background-color: skyblue;*/
    width: 37.760vw;
    height: 42px;
    justify-content: center;
    margin-top: 30px;
}

.Top8-rect {
    position: relative;
    width: 37vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.2);
    filter: blur(7.5px);
}

.Top9 {
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*    background-color: skyblue;*/
    width: 35.156vw;
    height: 42px;
    justify-content: center;
    margin-top: 30px;
}

.Top9-rect {
    position: relative;
    width: 35vw;
    top: 0.625vw;
    background: rgba(101, 164, 203, 0.1);
    filter: blur(10px);
}

sum-text {
    font-style: normal;
    font-weight: 500;

    /* identical to box height, or 32px */

    display: block;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1;
    transform: translateY(15px);


    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 0px;
        height: 1px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: -1;
    }

    &::before {
        top: 1.4rem;
        animation: draw 500ms linear 1s forwards;
    }

    &::after {
        bottom: 0.4rem;
        animation: draw 500ms linear 1s forwards;
    }
}



/*
.class-container {
    font-size: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.4rem;
}
*/

@keyframes up {

    100% {
        transform: translateY(0);
    }

}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }

}

@keyframes draw {

    100% {
        width: 100%;
    }

}



.ellipse-breath {
    position: absolute;
    width: 65vmin;
    height: 65vmin;
    top: 0vh;
    left: 50%;

    border-radius: 50%;

    background: radial-gradient(50% 50% at 50% 50%, rgba(13, 12, 7, 0.72) 72.92%, #65A4CB 100%);
}

.ellipse-listen {
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    left: 5%;
    top: 0vh;
    border-radius: 50%;
    z-index: 0;

    background: radial-gradient(50% 50% at 50% 50%, #65A4CB 0%, #0D0C07 100%);
}

intro-slides {
    /*childA2*/
    display: block;
    background-color: #0D0C07;
    position: relative;
    width: 100vw;
    height: 255vh;
    bottom: 0;
}


intro-title {
    /*childA3*/
    display: inline-block;
    position: relative;
}


intro-title:nth-child(1) {
    font-size: 20vmin;
    color: white;
    position: absolute;
    filter: blur(0);
    opacity: 1;
    bottom: 0;

}

intro-title:nth-child(2) {
    font-size: 9vmin;
    color: white;
    position: absolute;
    bottom: 2.6vh;
    left: 16ch;
    filter: blur(0);
    opacity: 1;
}



/*Header page lines 146-206*/

header-page {
    width: 100vw;
    height: 100vh;
    background-color: #0D0C07;
    display: flex;
    align-items: center;
    z-index: -3;
}

.hero-header {
    height: 100%;

}

.header-slides {
    width: 100vw;
    display: block;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.1em;
}

.header-slides.active2 {
    animation: expand 5.4s .3s forwards cubic-bezier(0.25, 0.1, 0.25, 1);
    position: relative;
    animation-timing-function: ease-out;

}

.header-content {
    position: relative;
    /*    left: 60%;*/
    color: white;

}

.hero-text {
    position: absolute;
    text-align: center;
    width: 100vw;
    top: 45%;
    /*    right:60%;*/

}

.hero-text button {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
    margin: 3%;
    font-family: 'Inter',
    'sans-serif';
    font-style: italic;
    font-weight: bold;
    
}

.hero-text a {
    text-decoration: none;
    color: #0D0C07;
    letter-spacing: 0.2em;
}


.header-content h1 {
    display: flex;
    font-size: 10vmin;
    align-items: baseline;
    justify-content: center;

}

.header-content p {
    display: flex;
    justify-content: center;
    font-style: normal;
}



@keyframes expand {
    0% {
        letter-spacing: 0.1em;

    }

    100% {
        letter-spacing: 0.4em;
    }
}


@media (min-width:900px) {
    intro-content{
            height: 350vh;

    }
    breath-content {
        height: 70vh;
    }

    breath-content text-box {
        margin-left: 7%;
    }

    .paragraph {
        font-size: 1.4em;
    }

    #sketch-breath {
        position: relative;
        left: 8%;
    }

    intro-listen {
        padding: 6vh;
    }

    listen-content {
        flex-direction: row;
        grid-row-gap: 4.479vw;
        width: 100vw-6vh;
        height: 80vh;

    }

    sum-text {
/*        font-size: 1.71vw;*/
        font-size:1.65em;
        line-height: 100%;
        text-align: justify;

    }

    .staircase {
        padding: 20px;
        margin-left: 20%;

    }
    
    .hero-text button{
        font-size: 2vmin;
    }
}

/*RSVP form*/
